<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
{% extends "layout.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<!---SHOW All items-->
{% if items==[]%}
<p> There are currently no items in the catalog. </p>

{% else %}
<div class="product w3-container">
	{% for item in items %}
   	<a href={{url_for('product', product_id = item.id)}}>
      	<p class= "w3-large">{{item.name}}</p>
      	<img src={{item.photo}} height="250" >
  	</a>
  	{% endfor %}
</div>

{% endif %}
{% endblock %}




</body>
</html>

